body {
  background:#ffffff;
  max-width: 650px;
  margin:20px auto;
}

.App .svglogo {
  margin-right: 12px;
}

.App h1 {
  font-size: 36px;
}

.App a {
  color:#f0a4ae;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.link {
  display: block;
  text-align: left;
  margin: 0 auto;
  font-size: 11px;
  font-weight: 580;
  font-family: 'Public Sans', sans-serif;
  text-align: center;
  line-height: 2;
  color: #2a292c;
}

.linkedin-link,.github-link,.netlify-link {
  text-decoration: none;
  font-weight: 600;
  color:#2a292c;
}

.linkedin-link:hover,.github-link:hover,.netlify-link:hover{
  text-decoration: underline;
  color: #2a292c;
  opacity: 0.9;
  cursor: pointer;
}

@media (max-with:900px) {
    h1 {
      font-size: 14px;
    }
   
    .App .svglogo {
      display: left;
      margin-right: 0;
    }
      

}