.Dictionary h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Dictionary section {
    background:#ecd7d7;
    padding:30px; 
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    margin: 20px 0;

}

.Dictionary input {
    width:100%;
    padding: 6px 10px; 
    border: 1px solid #dddddd; 
    color:#333333;
}

.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
}