.Phonetic {
    margin:20px 0;
}

.Phonetic a {
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #fe8ec5;
    color:#ffffff;
    background: #fe8ec5;
    text-decoration: none;
    margin-right:10px; 
    padding: 8px 16px; 
    border-radius: 18px;
    transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
    color: #fe8ec5;
    background: #ffffff;
}

.Phonetic.text {
    opacity: 0.5;
    font-weight:bold;
}